* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    /* background-color: #e6fbdf; */
    background-color: #000;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}



/* .modal{
    background-color: transparent;
    backdrop-filter: blur(50px);
} */
.modal .container {
    position: absolute;
    /* margin-left: 3%; */
    /* margin-top: 1%; */
    width: 440px;
    height: 630px;
    background-color: transparent;
    backdrop-filter: blur(50px);


}

.modal .container .form h1 {
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
}

.modal .container input {
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;
    border-radius: 3px;
    border: none;
    font-size: 20px;

}

.modal .container input::placeholder {
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;

}

.modal .container input[type=submit] {
    width: 320px;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}

.modal .container input[type=checkbox] {
    width: 25px;
    height: 18px;
    border-radius: 5px;
}

.modal .container label {
    color: rgb(128, 126, 126);
}

.modal .container .form a {
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119, 119);
    text-decoration: none;
    color: #fff;
}

.modal .container .content {
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;
}

.modal .container .content h6 {
    color: rgb(128, 126, 126);
}

.modal .container button {
    float: right;
}

/* .login-button {
    background-color: #009978;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
} */

/* .navbar-toggler {
    border: none;
    font-size: 1.25rem;
} */

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.offcanvas-body a {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.offcanvas-body a:hover,
.offcanvas-body a.active {
    color: #000;
}

@media (min-width:991px) {
    .offcanvas-body a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 3px;
        background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
        ;
        /* background-color: #009970; */
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .offcanvas-body a:hover::before,
    .offcanvas-body a.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* header */
.mainbody {
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=pexels-ella-olsson-1640774.jpg&fm=jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
}


.headerbody .container {
    margin-top: 35vh;
    color: white;
    z-index: 2;
}


.btn-grad {
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
    margin: 10px;
    padding: 7px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(39, 39, 39);
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: black;
    text-decoration: none;
}


#about {
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)), url(https://recipes.net/wp-content/uploads/2023/12/how-to-cook-pasta-bake-in-oven-1701918705.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

#howitworks {
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)), url(https://do64rle4ostpe.cloudfront.net/01874671-2960-1632-c013-fb410e2c1b5e) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#howitworks .fa-solid {
    width: 50px;
    height: 50px;
    background-color: black;
    padding: 15px;
    border-radius: 50%;
    color: #fa9d2c;
    font-size: 20px;
}

#howitworks .fa-solid:hover {
    color: white;
}

#howitworks .list-group-item {
    background-color: transparent;
    border: none;

}




.foot-panel2 {
    background-color: #0B0706;
    color: white;
    height: 402px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.foot-panel2 ul {
    margin-top: 40px;
}

.foot-panel2 ul a {
    display: block;
    text-decoration: none;
    color: #919294;
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel2 ul a:hover {
    text-decoration: underline;
}

.subscribe h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
}

label {
    position: relative;
}

.subscribe input[type="text"] {
    border: none;
    width: 460px;
    height: 50px;
    padding: 0 16px;
    border: 1px solid #919294;
}

.subscribe button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    color: black;
    padding: 0 16px;
    /* letter-spacing: 1.5px; */
    border: none;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #F2C94C;
}

/* login page */
/* signin */
/* .loginpage .form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
} */
.loginpage .form-label {
    font-family: 800 !important;
}

@media only screen and (max-width:1039px) {
    .loginpage form{
        width: 50% !important;
    }
}
@media only screen and (max-width:600px) {
    .loginpage form{
        width: 50% !important;
    }
}


/* recipe page */


.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?cs=srgb&dl=pexels-ella-olsson-1640774.jpg&fm=jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 70vh;
}

.hero-section::before {
    /* background-color: rgba(0, 0, 0, 0.6); */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    padding-top: 35vh;
    height: 10vh;
    z-index: 1;
    position: relative;
}

.hero-section .searchBtn {
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
    border: none;
    color: rgb(39, 39, 39);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
}

.hero-section .searchBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: black;
    text-decoration: none;
}

.recipe-container {
    text-align: center;
    /* margin-top: 1270vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;

}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    height: 530px;
    width: 350px;
    /* margin-top: 110vh; */
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    transform: scale(1.02);
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 24px;
    margin-block: 5px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 18px;
    /* font-weight: 600; */
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    /* background-color: #f44336; */
    /* color: #fff; */
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(39, 39, 39);
    display: block;
}


.recipe button:hover,
.recipe-close-btn:hover {
    /* background-color: #ff5c5c; */
    background-position: right center;
    /* change the direction of the change here */
    color: black;
    text-decoration: none;
}

.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #000;
    color: #cfcfcf;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

/* adding scrollbar to .recipe details popup */
.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background-color: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius: 16px
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    /* border-radius: 16px; */
    /* --webkit-border-radius: 16px */
}

body::-webkit-scrollbar-track {
    background-color: #ebebeb;

}

.recipe-details-content {
    padding: 30px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.ingredientList li {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
}

.recipeName,
.ingredientList,
.recipeInstructions {
    margin-bottom: 20px;
}

.recipe-close-btn {
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f9983e;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}